* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
.card {
  position: relative;
  width: 200px;
  height: 260px;
  border: 1px solid black;
  border-radius: 8px;
  padding-top: 5px;
  margin: 50px auto;
}
.card::before {
  content: "x";
  position: absolute;
  left: 6px;
  top: -1px;
  color: grey;
  font-size: 20px;
}
.card::after {
  content: "9";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 20px;
  background-color: red;
  color: white;
  position: absolute;
  left: 185px;
  bottom: 245px;
}
img {
  width: 100%;
  border-bottom: 1px solid black;
}
h4 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 19px;
}
